<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editAirplane</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/css/admin/adminDashboard.css" />
  </head>
  <body>
    <div class="container">
      <%- include('./partials/aside.ejs') %>
      <main>
        <h1>Edit airplane</h1>
        <h2 style="margin-top: 1rem">
          You are editing an airplane: <%= airplane_name %>
        </h2>
        <div class="master">
          <main class="container1">
            <form
              action="/admin/airplanes/editAirplane/<%= airplane_id %>/"
              class="form"
              method="POST"
            >
              <div class="column">
                <div style="display: none" class="input-box">
                  <label>Airplane ID</label>
                  <input
                    type="text"
                    name="airplane_id"
                    value="<%= airplane_id %>"
                    required
                  />
                </div>
                <div class="input-box">
                  <label>Airplane name</label>
                  <input
                    type="text"
                    name="airplane_name"
                    value="<%= airplane_name %>"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Manufacturer</label>
                  <input
                    type="text"
                    name="manufacturer"
                    value="<%= manufacturer %>"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Jet engine</label>
                  <input
                    type="text"
                    name="jet_engine"
                    value="<%= jet_engine %>"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Wheels</label>
                  <input
                    type="text"
                    name="wheels"
                    value="<%= wheels %>"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Fuselage</label>
                  <input
                    type="text"
                    name="fuselage"
                    value="<%= fuselage %>"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Wing</label>
                  <input type="text" name="wing" value="<%= wing %>" required />
                </div>
              </div>
              <button type="submit">Save</button>
            </form>
          </main>
        </div>
      </main>

      <%- include('./partials/right.ejs') %>
    </div>
  </body>
</html>
